<form action="/checkout" method="POST">
  <!-- Need label for="item" otherwise it does not pass test -->
  <label for="item"> Item: </label>
  <input type="text" name="item" id="item">
  <input type="submit" value="submit">

  <h2>Item added to cart:</h2>
  <%= @session[:item] if @session%>

 </form>
